@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

/* ======================================================
                    VARIABLES & GENERAL CSS
========================================================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  resize: none;
  outline: none;
  border: none;
}

:root {
  --color-bg: #e1e1e1;
  --color-text: #212121;
  --color-tertiary: #fa87df;

  --shadow: 6px 6px 12px #bababa, -6px -6px 12px #ffffff;
  --inner-shadow: inset 6px 6px 12px #bababa, inset -6px -6px 12px #ffffff;

  --width-lg: 80%;
  --width-sm: 95%;
  --transition: all 0.4s ease-in;
}
.nav-container {
    justify-content: space-between !important;
}
body {
  font-family: "Great Vibes", cursive;
  font-family: "Rubik", sans-serif;
  background: var(--color-bg);
  color: var(--color-text);
  line-height: 1.7;
  height: 100vh;
  width: 100%;
  position: relative;
}
body.active {
  --color-bg: #212121;
  --color-text: #e0e0e0;
  --color-tertiary: crimson;

  --shadow: 0.5rem 0.5rem 1rem #111, -6px -6px 12px #333;
  --inner-shadow: inset 0.5rem 0.5rem 1rem #111, inset -6px -6px 12px #333;
}
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  box-shadow: var(--inner-shadow);
}
::-webkit-scrollbar-thumb {
  box-shadow: var(--shadow);
  background: var(--color-tertiary);
}
img {
  width: 100%;
  display: flex;
  object-fit: cover;
  left: 30px;
  vertical-align: middle;
  background-position: right;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}

a {
  color: var(--color-text);
  font-size: 0.9rem;
}
span,
p {
  font-size: 0.9rem;
}
h1,
h2,
h3,
h4 {
  line-height: 1.2;
}
h1 {
  font-size: 2.8rem;
}
h2 {
  font-size: 2.1rem;
}
h3 {
  font-size: 2.1rem;
}
h4 {
  font-size: 1.1rem;
}
.container {
  margin: 0 auto;
  width: var(--width-lg);
}
section {
  padding: 5rem 0 3rem;
  min-height: 100vh;
}
.title {
  text-align: center;
  margin-bottom: 6rem;
}
.title h2 {
  font-size: 2.5rem;
  display: inline-block;
  color: var(--color-text);
  font-weight: 300;
}
.title h2 span {
  font-size: 2.5rem;
  color: var(--color-tertiary);
  font-weight: 900;
}
.btn {
  padding: 1rem 3rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  background: transparent;
  color: var(--color-text);
  font-weight: 700;
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.btn span {
  z-index: 1;
  font-weight: 800;
  letter-spacing: 0.1rem;
}
.btn.overlay::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: var(--color-text);
  height: 10px;
  width: 10px;
  z-index: -1;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  transition: all 0.6s ease-in-out;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  visibility: hidden;
}
.btn:hover {
  color: var(--color-tertiary);
  box-shadow: 1px 1px 10px var(--color-tertiary);
}
.btn.overlay:hover::after {
  visibility: visible;
  transform: scale(100);
  -webkit-transform: scale(100);
  -moz-transform: scale(100);
  -ms-transform: scale(100);
  -o-transform: scale(100);
}
.scrollbar::-webkit-scrollbar {
  height: 0.66rem;
}
.scrollbar::-webkit-scrollbar-track {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.scrollbar::-webkit-scrollbar-button {
  width: 0.8rem;
}

/* ======================================================
              NAVBAR
========================================================*/
nav {
  padding: 0.3rem 0;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
nav.scrolling {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--color-bg);
  z-index: 11111;
  box-shadow: var(--shadow);
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-nav {
  display: flex;
  gap: 2rem;
}
.navbar-nav li a {
  text-transform: capitalize;
  font-weight: 500;
}
.navbar-nav li a:hover {
  color: var(--color-tertiary);
}
.navbar-brand {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--color-tertiary);
  text-transform: uppercase;
  box-shadow: var(--color-tertiary);
  border-radius: 0.5rem;
  padding: 0.2rem 2rem;
  background: var(--color-text);
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.navbar-brand span {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--color-text);
}
.navbar-brand .navbar-brand:hover {
  color: var(--color-tertiary);
  box-shadow: var(--color-tertiary);
}
.nav-icons {
  display: flex;
  gap: 2rem;
}
.nav-icons div {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  color: var(--color-text);
  background: var(--color-bg);
  box-shadow: var(--color-tertiary);
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  cursor: pointer;
}
.nav-icons div:hover {
  color: var(--color-tertiary);
  box-shadow: var(--color-tertiary);
}
#menu-btn {
  display: none;
}

/* ======================================================
              HOME
========================================================*/
.home {
  width: 100%;
}
.home-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-bottom: 20px;
}
.home .left {
  margin-top: 3rem;
}
.home .left h1 {
  font-size: 3.3rem;
  font-weight: 800;
}

.home .left h1 span {
  font-size: 3.5rem;
  color: var(--color-tertiary);
}
.home .left h3 span {
  font-size: 1.5rem;
  color: var(--color-tertiary);
}
.home .left p {
  padding: 1.6rem 0;
}
.home .left .btn {
  padding: 1rem 3rem;
}
.home .social-icons {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 40px;
}
.home .social-icons i {
  height: 5rem;
  width: 5rem;
  box-shadow: var(--shadow);
  background: var(--color-bg);
  padding: 0.8rem;
  margin: 0.7rem;
  font-weight: 250px;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
.home .social-icons i:hover {
  color: var(--color-tertiary);
  box-shadow: var(--inner-shadow);
}
.img-fluid {
   max-width: 35px;
    height: 100%;
    box-shadow: var(--shadow);
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    display: block;
    object-fit: cover;
    overflow: clip;
    float: right;
    margin: 0 0 0 15px;
}
.img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
/* ======================================================
              ABOUT
========================================================*/
.about-container {
  display: grid;
  margin-top: 150px;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.about .left img {
  max-height: 30rem;
  width: auto;
  box-shadow: var(--shadow);
  border-radius: 0.5rem 50% 0.5rem 0.5rem;
  -webkit-border-radius: 0.5rem 50% 0.5rem 0.5rem;
  -moz-border-radius: 0.5rem 50% 0.5rem 0.5rem;
  -ms-border-radius: 0.5rem 50% 0.5rem 0.5rem;
  -o-border-radius: 0.5rem 50% 0.5rem 0.5rem;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}
.about .left img:hover {
  border-radius: 50% 0.5rem 0.5rem 0.5rem;
  -webkit-border-radius: 50% 0.5rem 0.5rem 0.5rem;
  -moz-border-radius: 50% 0.5rem 0.5rem 0.5rem;
  -ms-border-radius: 50% 0.5rem 0.5rem 0.5rem;
  -o-border-radius: 50% 0.5rem 0.5rem 0.5rem;
}
.about .right .title {
  text-align: start;
  margin-bottom: 2rem;
}
.about h2 {
  font-weight: 500;
}
.about .right > h3 {
  font-size: 1.3rem;
  color: var(--color-tertiary);
  
}
.about .right > h3 span {
  font-size: 90px;
}
.about .right > p {
  margin: 0.5rem 0 2rem;
}
.about .right .btn {
  padding: 1rem 2rem;
}
.about .right .container {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
}
.skills__container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
}


.skills__container-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.skills__container-img {
  height: 50px;
  width: 50px;
}

.skills__container-img:hover {
  transform: rotate(25deg);
}


.skills__container-name {
  font-size: 40px;
  display: block;
  text-align: center;
}



/* ======================================================
              PORTFOLIO
========================================================*/
.content h1 {
    font-size: 50px;
    line-height: 50px;
}
.content {
    margin: 30px;
}
img, svg {
    vertical-align: middle;
}
.text-muted {
    color: #6c757d !important;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

}

.mb-5 {
    margin-bottom: 3rem !important;
}
.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y)* -1);
    margin-right: calc(var(--bs-gutter-x) / -2);
    margin-left: calc(var(--bs-gutter-x) / -2);
}
.rounded {
    border-radius: 0.25rem !important;
    margin: 20px 0 20px 0;
}
.mb-3 {
    margin-bottom: 1rem !important;
}

.text-center {
    text-align: center !important;
}
.mb-5 {
  color: var(--color-tertiary);
  
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.content h3 {
    font-size: 24px;
    line-height: 1.5;
    text-align: center;
    font-family: var(--default-font-family);
}

.content p {
    font-size: 15px;
}

.btn-branding {
    background: var(--color-tertiary);
    border-radius: 4px;
    color: black;
    text-decoration: none;
    font-size: 15px;
    line-height: 30px;
    padding: 15px 15px;
    
}
.btn-branding:hover {
  color: var(--color-bg);
  box-shadow: var(--inner-shadow);
}
/* ======================================================
              CONTACT
========================================================*/
.contact-content .row {
  margin-top: -65px;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.contact .title h2 {
  font-weight: 500;
}
.contact-content .box {
  padding: 1.2rem 2.2rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  box-shadow: var(--shadow);
  text-align: center;
}
.contact-content i {
  font-size: 1.6rem;
  margin-bottom: 1.4rem;
  color: var(--color-tertiary);
}
.contact-content span {
  font-weight: 500;
}
.contact-content h4 {
  font-size: 0.94rem;
}
.contact-content .contact-form {
  width: 700px;
  padding: 1rem 2.1rem;
  background: transparent;
  margin: 5.5rem 0;
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  margin-bottom: -10px;

}
.contact-content input,
.contact-content textarea {
  width: 100%;
  border: none;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  padding: 0.8rem;
  margin: 0.3rem 0;
  font-size: 85%;
  font-family: inherit;
  font-weight: inherit;
  background: var(--color-tertiary);
  color: var(--color-text);
  box-shadow: var(--color-bg);
}
.contact-form .btn {
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;
}
.contact-form .btn span {
  font-weight: 300;
  font-size: 90%;
  letter-spacing: 20px;
}
.copyright {
  text-align: center;
  font-size: 25px;
  padding: 1rem 0;
  box-shadow: var(--color-tertiary);
}
footer .contact-box {
    background: var(--color-tertiary);
    padding: 30px 120px;
    border-radius: 10px;
}

/* ======================================================
              RESPONSIVE TABLET
========================================================*/
@media (max-width: 1050px) {
  #menu-btn {
    display: block;
  }
  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
}
.content {
    text-align: center;
    padding: 0;
}
  #theme-btn {
    margin-right: -25px;
  }
  .navlist {
    flex-direction: column;
    position: absolute;
    top: 11rem;
    right: 0;
    font-size: 25px;
    width: var(--width-lg);
    box-shadow: var(--shadow);
    background: var(--color-bg);
    min-width: 300px;
    height: 30rem;
    text-align: center;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
    padding: 2rem 0;
    z-index: 9999999;
    visibility: hidden;
    opacity: 0;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
  }
  .navlist a {
    font-size: 20px;
  }
  .navlist.active {
    top: 4rem;
    visibility: visible;
    opacity: 1;
  }
  .about-container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .about-container .left {
    margin: auto;
  }
  .about-container .right {
    text-align: center;
  }
  .about-container .right .title {
    text-align: center;
  }
  .about .right .container {
    gap: 2rem;
  }
  .services-container .box {
    width: calc(50% - 1.5rem);
  }
  .portfolio-container .box {
    width: calc(50% - 1.5rem);
  }
  .portfolio-container {
    grid-template-columns: 1fr;
  }
  .portfolio-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  
  
}
/* ============= Ipad Pro 11 ====================== */
@media (max-width: 835px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  p {
    font-size: 1rem;
  }
  section {
    padding: 3rem 0;
  }
  #menu-btn {
    margin-right: -50px;
  }
  .logo {
    margin-left: -50px;
  }
  .home-container {
    grid-template-columns: 1fr;
    margin-top: 20px;
    display: flex;
    flex-direction: column-reverse;
  }
  .home .right img {
    max-width: 25rem;
  }
  .home .left {
    text-align: center;
  }
  .about-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .about .left img {
    max-height: 25rem;
  }

  .services .title h2 {
    margin-top: 90px;
    margin-bottom: 20px;
  }
  .services-container .box {
    width: calc(50% - 1rem);
    margin-bottom: 30px;
  }

  .portfolio .title h2 {
    margin-top: 90px;
    margin-bottom: 20px;
  }
  .portfolio-buttons {
    grid-template-columns: 1fr 1fr;
  }
  .portfolio-container .tab-content {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 20px;
  }
  .portfolio-buttons {
    gap: 2.5rem;
  }
  .testimonial {
    height: 100vh;
  }
  .testimonial .title h2 {
    margin-top: 100px;
  }
  .contact-content .box {
    padding: 1.2rem 2.1rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    box-shadow: var(--shadow);
    text-align: center;
  }
  .contact-content .row {
    gap: 1rem;
  }
  .contact-content .contact-form {
    padding: 2rem;
    margin: 6rem 0;
    width: 700px;
  }
  .contact .title h2 {
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .portfolio-container .tab-content {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 20px;
}
}
/* ========== Ipad Mini =============== */
@media (max-width: 769px) {
  .home .right img {
    max-width: 15rem;
  }
  .about .left img {
    max-height: 15rem;
  }
  .container-md, .container-sm {
    max-width: 720px;
}
.img-fluid{
  max-width: 80%;
}
}


/* ======================================================
              RESPONSIVE MOBILE
========================================================*/
@media (max-width: 429px) {
  .logo {
    margin-left: -30px;
    font-size: 1rem;
  }
  .logo span {
    font-size: 1rem;
  }
  #menu-btn {
    margin-right: -30px;
    font-size: 13px;
  }
  #theme-btn {
    font-size: 15px;
  }
  .home .right img {
    display: block;
    max-width: 100%;
    margin-top: -15px;
  }
  .home .left {
    position: relative;
    margin-top: -20px;
    z-index: 9999;
  }
  .home .social-icons {
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .home .left h1 {
    line-height: 2.2rem;
    margin-bottom: 2px;
  }
  .home .left h1 span {
    font-size: 2.1rem;
  }
  .home .left h3 {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .home .left p {
    font-size: 30px;
  }

  .home .social-icons i {
    height: 5rem;
    width: 5rem;
    box-shadow: var(--shadow);
    background: var(--color-bg);
    padding: 0.8rem;
    margin: 0.7rem;
    font-weight: 800;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
  }
  .about .left img {
    height: 25rem;
    margin-top: -0.6rem;
  }
  .about .right .container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .services .title h2 {
    margin-top: 50px;
  }
  .services-container .box {
    width: calc(100% - 0rem);
    margin-bottom: 1px;
  }
  .portfolio .title h2 {
    margin-top: 50px;
  }
  .portfolio-container {
    margin-top: -20px;
  }
  .portfolio-container .tab-content {
    grid-template-columns: 1fr;
  }


  .contact {
    min-height: 100vh;
  }
  .contact-content .row {
    margin-top: -55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
  }
  .contact .title h2 {
    margin-top: 50px;
  }
  .contact-content .row {
    margin-top: -100px;
  }

  .contact-content .box {
    width: 400px;
    margin: auto;
    padding: 1rem 1rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    box-shadow: var(--shadow);
    text-align: center;
  }

  .contact-content .contact-form {
    padding: 2rem;
    margin: 8.5rem auto;
    width: 93%;
    margin-bottom: -10px;
  }
  .contact-form .btn {
    display: flex;
    margin: auto;
    padding: 1rem 1.5rem;
  }
  .contact-form .btn span {
    font-weight: 900;
    font-size: 96%;
    letter-spacing: 0.05rem;
  }
  .img-fluid{
    max-width: 100%;
  }
  
}
@media (prefers-reduced-motion: no-preference){
:root {
    scroll-behavior: smooth;
} }

.skills__container .container .grid {
  justify-items: center;
}